.account-chan {
    background-color: rgb(177, 221, 206);
    border: 0;
    border-radius: 5%;
    transition: 0.3s;
    padding: 10px;
    width: 48px;

}

.account-cham:focus {
    outline: 0;
}

.account-chan:hover {
    background: rgb(127, 212, 184);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

/*  */

.account-del {
    background-color: rgb(238, 185, 169);
    border: 0;
    border-radius: 5%;
    transition: 0.3s;
    padding: 10px;
    width: 48px;

}

.account-del:focus {
    outline: 0;
}

.account-del:hover {
    background: rgb(238, 162, 139);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

/*  */

.account-plan {
    background-color: rgb(187, 187, 187);
    border: 0;
    border-radius: 5%;
    transition: 0.3s;
    padding: 10px;
    width: 48px;

}

.account-plan:focus {
    outline: 0;
}

.account-plan:hover {
    background: rgb(121, 122, 120);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}