* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* .home,
.account,
.planner,
.sing-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

.account {
  /* background-image: url('https: //raw.githubusercontent.com/briancodex/react-website-v1/master/public/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.planner {
  /* background-image: url('https: //raw.githubusercontent.com/briancodex/react-website-v1/master/public/images/img-2.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}


/* sign 페이지 css */
.sign-container {
  text-align: center;
  background-color: #e2eae8;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
}

.sign-form {
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;

}

.submit-btn {
  border: 0;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(185, 233, 217);
  box-shadow: 0 4px 16px rgba(110, 173, 163, 0.3);
  transition: 0.3s;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
  background: rgba(107, 157, 134, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}


.submit-btnG {
  border: 0;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(202, 202, 202);
  box-shadow: 0 4px 16px rgba(110, 173, 163, 0.3);
  transition: 0.3s;
}

.submit-btnG:focus {
  outline: 0;
}

.submit-btnG:hover {
  background: rgba(91, 91, 91, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

.submit-btnG:focus {
  outline: 0;
}

.submit-btnG:hover {
  background: rgba(91, 91, 91, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

.text-field {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.account-header {
  display: flex;
  width: 100%;
}

.account-month {
  text-align: center;
  width: 35%;
  margin: 10px;
  font-size: 25px;
}

.account-total {
  text-align: center;
  width: 35%;
  margin: 10px;

}


.account-addbtn {
  width: 30%;
  margin: 10px;
  border: 0;
  background-color: rgb(202, 202, 202);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.account-addbtn:focus {
  outline: 0;
}

.account-addbtn:hover {
  background: rgba(145, 145, 145, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

.add-plan-btn {
  width: 20%;
  height: 35px;
  margin: 10px;
  border: 0;
  background-color: rgb(185, 233, 217);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.add-plan-btn:focus {
  outline: 0;
}

.add-plan-btn:hover {
  background: rgba(107, 157, 134, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

.account-addbtn {
  width: 30%;
  margin: 10px;
  border: 0;
  background-color: rgb(202, 202, 202);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.account-addbtn:focus {
  outline: 0;
}

.account-addbtn:hover {
  background: rgba(145, 145, 145, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

.planner-addbtn {
  width: 20%;
  height: 35px;
  margin: 10px;
  border: 0;
  background-color: rgb(185, 233, 217);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.planner-addbtn:focus {
  outline: 0;
}

.planner-addbtn:hover {
  background: rgba(107, 157, 134, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(11, 19, 13, 0.6);
}

/* account 내역 리스트 css */
.histories {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 25px;
  padding: 50px;
  width: 100%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  .histories {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.history {
  background-color: white;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-rows: minmax(10px, 2fr) 1fr;
  grid-gap: 10px;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

/* account table css */


/* account div 박스 css */