* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* .home,
.account,
.planner,
.sing-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

.account {
  /* background-image: url('https: //raw.githubusercontent.com/briancodex/react-website-v1/master/public/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.planner {
  /* background-image: url('https: //raw.githubusercontent.com/briancodex/react-website-v1/master/public/images/img-2.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}



.sign-container {
  text-align: center;
  background-color: #e2eae8;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
}

.sign-form {
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;

}

.submit-btn {
  border: 0;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(185, 233, 217);
}

.submit-btnG {
  border: 0;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(202, 202, 202);
}

.text-field {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 300px;

}

.account-container {
  width: 100px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  position: absolute;
  left: 6%;
  top: 15%;
}

.account-record {
  width: 250px;
  height: 90px;
  background-color: rgb(228, 244, 229);
  border: 0;
  border-radius: 5px;
  position: absolute;
  left: 120%;
  top: 0%;
}

.add-account-item {
  border: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50px;
  background-color: rgb(169, 185, 167);

  font-size: 16px;

  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(110, 173, 163, 0.3);
  transition: 0.3s;
  position: absolute;
  left: 20%;
  top: 130%;
  transform: translate(-50%, -50%);
}

.add-account-item:focus {
  outline: 0;
}

.add-account-item:hover {
  background: rgba(107, 157, 134, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(38, 229, 99, 0.6);
}

.account-detail {
  width: 500px;
  background-color: antiquewhite;

}

.account-detail-li {
  background-color: rgb(41, 58, 72);
  margin-top: 5px;
}